input {
    outline: none;
}
input:focus {
    box-shadow: 0 0 2px 3px #16a34a87;
}
button:disabled {
    border: 1px solid#16a34a;
    color: #16a34a;
    background-color: #fff;
}
button:disabled:hover {
    background-color: #fff;
    color: #16a34a
}